body {
    width: 90%;
    margin: 0 5%;
}

.add {
    width: 25px;
    height: 25px;
}

/* ---------- Message ----------------------------------------------------*/


.erreur,
.message {
    font-size: 1em;
    display: block;
}

.erreur ul {
    list-style: none square;
}

.erreur {
    background-color: rgb(237, 210, 229);
    color: rgb(203, 28, 128);
}

.message {
    background-color: rgb(99, 184, 255);
    color: rgb(0, 0, 205);
}

/* ---------- Entete ----------------------------------------------------*/
header {
    margin-top: 0px;
    display: flex;
    align-items: center;

}

header img {
    width: 200px;

}

#menu li {
    list-style-type: none;
    list-style-image: none;
    float: left;
    text-align: center;
    width: 250px;
    border: 1px solid #600;
    margin-right: 1px;
    color: #fff;
    background: #ccff11;
}

#menu li a,
#categories li a {
    text-decoration: none;
}

/* ---------- Jeux ----------------------------------------------------*/

#visite {
    width: 90vw;
    display: flex;
}

#visite aside ul {
    margin-top:-10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content:center;
    align-items: center;
    text-align: center;
}

#visite aside ul li {
    list-style: none;
    border: 1px solid #600;
    width: 100px;
    text-align: center;
    background: #ccff11;
}

#visite section {
    width: fit-content;
    display: flex;
}

#visite section article {
    margin: 5px;
    padding: 5px;
    width: 200px;
}


#visite section article>img {
    width: 100%;
    height: auto;
}



/* ---------- Formulaire ----------------------------------------------------*/

fieldset {
    display: block;
    width: 50%;
    border: 1px dotted #353535;
    padding: 5px;
    overflow: hidden;
}

label {
    background: transparent none;
    display: block;
    width: 20%;
    float: left;
    padding-right: 1%;
    text-align: left;
}

input {
    margin-left: 1%;
    width: 30%;
    border: #CCC 1px solid;
}

input:hover,
#ent input:focus {
    border: #999 1px solid;
    background-color: #DDEEFF;
}

input[type="submit"] {
    border: #DDEEFF 1px solid;
    width: 30%;
}

#section_jeux_acceuil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jeux_acceuil {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    align-items: center;
}

#jeux_acceuil>img {
    width: 200px;
    height: 200px;
    margin: 20px;
}
.voirAll{
    width: 150px;
    height: 50px; 
}
#voirAll {
    width: 150px;
    height: 50px;
    margin-top:10px;
    background-color: #ff7f27;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
}

#categories {
    display: flex;
    flex-direction: column;
}

#categories a {
    text-decoration: none;
    display: flex;

}

#jeux {
    width: auto;
    height: auto;
    padding: 10px;
   display: flex;
   flex-wrap:wrap;
    gap:10px;
    margin-left: 10px;

}

#jeux article {
    background-color: #f3d5c2;
}



#article_voirAll {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

#img_voirAll {
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

#voir_etat {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 50px;
}

#voir_etat label {
    width: 200px;
    margin-bottom: 5px;
}

#form_inscription {
    width: 70vw;
    background-color: rgb(216, 136, 127);
    padding: 20px;
    margin-left: 10vw;
    margin-top: 30px;

}

#form_inscription fieldset {
    margin-left: 25%;
}

#form_inscription h1 {
color:blue;
}
#form_inscription p {
text-align:center;
font-size:1.3em;
}

#identification {
    background-color: #fb6e11;
   padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
   
}




#identification div {
    width: 900px;
    display: flex;
}

#connexion,
#input_deconnexion {
    margin-top: 0px;
    width: 100px;
    height: 20px;
    background-color: rgb(242, 227, 18);
}
#connexion{
     background-color: rgb(43, 245, 225);
}
#label_psw{
    margin-left: 30px;
    margin-right: -100px;
}
#input_psw{
    margin-right: 40px;
}
.hidden{
    display:none;
}
.block{
    display:block;
}

#compte h1{
text-decoration:underline;
}
.table_commandes{
    width: 80vw;
    margin-left:5vw;
    text-align:center;
}